<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="styles2.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login_container">
        <h3>Login</h3>
        <%- include("../include/flash.ejs") %>
        <form action="/login" method="POST">
            <div class="input_box">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>
            </div>
            <div class="input_box">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="login_btn">Login</button>
            <p class="sign_up">Don't have an account? <a href="/signup">Sign Up</a></p>
        </form>
    </div>
</body>
</html>